.container {
    display: flex;
    align-items: center;
    height: 400px;
    overflow: hidden;
}

.lists-container {
    display: flex;
    width: 100%;
    justify-content: flex-start;
}

ul {
    color: rgb(125, 120, 103);
}

.list {
    margin: 0px;
    margin-right: 25px;
}

h3 {
    color: white;
    margin: 20px 0;
}
